tool:
  users:
    user:
      # put completions into this directory, relative to user home
      completions: .local/share/zsh/completions
      # sync flavours.toml from dotfiles repo available as
      # salt://dotconfig/<user>/flavours or salt://dotconfig/flavours
      dotconfig: true
      flavours:
        # this git repo will be used to discover base16 schemes
        schemes_source: https://github.com/chriskempson/base16-schemes-source.git
        # this git repo will be used to discover base16 templates
        templates_source: https://github.com/chriskempson/base16-templates-source.git

  flavours:
    defaults:
      # this git repo will be used to discover base16 schemes
      schemes_source: https://github.com/chriskempson/base16-schemes-source.git
      # this git repo will be used to discover base16 templates
      templates_source: https://github.com/chriskempson/base16-templates-source.git
